.donation-page {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../material/Donation.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    opacity: 0;
    width: 100%;
    color: rgba(97, 183, 214, 0.75);
    text-align: center;
}

.discription {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    color: white;
}

.form {
    opacity: 1;
    height: 80vh;
    width: 50%;
    background-color: rgba(89, 99, 175, 0.5);
    box-shadow: 0 2rem 5rem 0 rgba(50, 213, 235, 0.378);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
}

#don{
    font-size: 16px;
    padding: 16px;
    margin: 12px;
    margin-top: 15px;
    background-color: rgba(40, 25, 255, 0.905);
    border: none;
    font-weight: bold;
    color: rgba(247, 228, 228, 0.897);
    text-align: center;
    text-decoration: none;
    transition: 300ms ease;
}
#don:hover {
    transform: translate3d(0, -5px, 0);
    box-shadow: 0 2rem 5rem 0 rgba(17, 236, 252, 0.5);
    background-color: rgba(225, 170, 31, 0.905);
    transition: 300ms ease;
}

#don:focus {
    outline: none;
}

.form>* {
    width: 80%;
}

input {
    height: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

span {
    color: rgba(252, 162, 17);
}

@media only screen and (max-width: 600px) {
    .form {
        width: 80%;
    }
}